<div class="login-component">
	<div class="login">
		<div class="login-header">
            <img src="/app/assets/images/logo_white.svg" />
		</div>
		<div class="login-items">
			<div class="login-item">
				<input [(ngModel)]="model.email" #email="ngModel" class="login-input" type="text" placeholder="Email" autocomplete="off">
			</div>
			<div class="login-item">
				<input [(ngModel)]="model.password" #password="ngModel" class="login-input"  type="password" placeholder="Password">
			</div>
		</div>

		<div class="login-button">
			<button class="btn--primary" (click)="login()">Login</button>
		</div>
		<div class="login-remember">
			<label class="login-forgot-pass" ng-click="forgotPasswordForm();">Forgot password?</label>
		</div>
	</div>
</div>
