<div class="login-component">
	<div class="login">
		<div class="login__header">
            <img src="/app/assets/images/logo_white.svg" />
		</div>
		<div class="login__items">
			<div class="login__item">
				<input [(ngModel)]="model.email" #email="ngModel" class="login__input" type="text" placeholder="Email" autocomplete="off">
			</div>
			<div class="login__item">
				<input [(ngModel)]="model.password" #password="ngModel" class="login__input"  type="password" placeholder="Password">
			</div>
		</div>

		<div class="login__button">
			<button class="btn--primary" (click)="login()">Login</button>
		</div>
		<div class="login__remember">
			<label class="login__forgot-pass" ng-click="forgotPasswordForm();">Forgot password?</label>
		</div>
	</div>
</div>
